RunGFIT/src/wsdl/GfitAPI.wsdl

<?xml version="1.0"?>
<!-- Generated WSDL for castlebay.GfitAPI web service -->
<wsdl:definitions targetNamespace="http://waysysweb.com/gfit" name="GfitAPI" xmlns:gwsoap="http://guidewire.com/ws/soapheaders" xmlns:gwwsdl="http://guidewire.com/pl/wsdl" xmlns:soap11="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://waysysweb.com/gfit" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema targetNamespace="http://waysysweb.com/gfit" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://guidewire.com/ws/soapheaders" schemaLocation="soapheaders.xsd"/>
      <!-- run(String, String) : String -->
      <xs:element name="run">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="dir" type="xs:string" minOccurs="0"/>
            <xs:element name="output" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="runResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="WsiAuthenticationException">
        <xs:complexType/>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:portType name="GfitAPIPortType">
    <wsdl:operation name="run">
      <wsdl:input name="run" message="tns:run"/>
      <wsdl:output name="runResponse" message="tns:runResponse"/>
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GfitAPISoap12Binding" type="tns:GfitAPIPortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <wsdl:operation name="run">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="run">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="runResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GfitAPISoap11Binding" type="tns:GfitAPIPortType">
    <soap11:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <wsdl:operation name="run">
      <soap11:operation style="document"/>
      <wsdl:input name="run">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="runResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GfitAPI">
    <wsdl:port name="GfitAPISoap12Port" binding="tns:GfitAPISoap12Binding">
      <soap12:address location="http://dontuse.defaultvalue.com/castlebay/GfitAPI"/>
      <gwwsdl:address location="${cc}/ws/castlebay/GfitAPI"/>
    </wsdl:port>
    <wsdl:port name="GfitAPISoap11Port" binding="tns:GfitAPISoap11Binding">
      <soap11:address location="http://dontuse.defaultvalue.com/castlebay/GfitAPI/soap11"/>
      <gwwsdl:address location="${cc}/ws/castlebay/GfitAPI/soap11"/>
    </wsdl:port>
  </wsdl:service>
  <wsdl:message name="run">
    <wsdl:part name="parameters" element="tns:run"/>
  </wsdl:message>
  <wsdl:message name="runResponse">
    <wsdl:part name="parameters" element="tns:runResponse"/>
  </wsdl:message>
  <wsdl:message name="WsiAuthenticationException">
    <wsdl:part name="WsiAuthenticationException" element="tns:WsiAuthenticationException"/>
  </wsdl:message>
  <wsdl:message name="gw-authentication">
    <wsdl:part name="gw-authentication" element="gwsoap:authentication"/>
  </wsdl:message>
  <wsdl:message name="gw-locale">
    <wsdl:part name="gw-locale" element="gwsoap:locale"/>
  </wsdl:message>
</wsdl:definitions>